.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .login {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__heading {
      font-size: 24px;
      font-weight: 600;
      margin-top: 40px;
      margin-bottom: 26px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 18px;

      &--control {
        width: 360px;
      }

      &--button {
        margin-top: calc(40px - 18px);
      }
    }
  }
}
