.form__control {
  display: flex;
  align-items: center;
  backdrop-filter: blur(20px);
  background: rgba(118, 118, 128, 0.12);
  padding: 14px;
  border-radius: 16px;
  gap: 18px;
  border: 1px solid #76768071;
}

.form__input {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  color: #a0a0a0;
  flex: 1;
}
