.form__control {
  display: flex;
  align-items: center;
  backdrop-filter: blur(20px);
  background: rgba(118, 118, 128, 0.12);
  padding: 14px;
  border-radius: 16px;
  gap: 18px;
  border: 1px solid #76768071;
}

.form__input {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  color: #a0a0a0;
  flex: 1;
}

.form__icon {
  width: 30px;
  height: 30px;
  padding-right: 1rem;
}

.form__icon--image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0.7);
}

.form__button {
  cursor: pointer;
  background: transparent;
  border: none;
}
